html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #d9d9d9;
    background-image: linear-gradient(-45deg, #c2c2c2 0%, #f6f2f2 74%);
    background-size: 400% 400%;
    overflow: hidden;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

li {
    display: inline;
    list-style-type: none;
}

.ru-link {
    font-family: 'Montserrat', sans-serif;
    border-right: 1px solid black;
    padding-right: 5px;
}

.en-link {
    font-family: 'Montserrat', sans-serif;
    border-right: 1px solid black;
    padding-right: 5px;
}

.kr-link {
    font-family: 'Montserrat', sans-serif;
    border-right: 1px solid black;
    padding-right: 5px;
}

.ru-link:link,
.ru-link:visited {
    color: rgba(166, 2, 2, 0.929);
    text-decoration: none;
}

.en-link:link,
.en-link:visited {
    color: rgba(166, 2, 2, 0.929);
    text-decoration: none;
}

.kr-link:link,
.kr-link:visited {
    color: rgba(166, 2, 2, 0.929);
    text-decoration: none;
}

.char-name {
    font-size: 32px;
    font-family: 'Permanent Marker', cursive;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    margin-bottom: 5px;
    text-align: center;
    height: 130px;
    width: 470px;
}

.job-title {
    border-top: 2px solid black;
    font-size: 20px;
    color: rgba(166, 2, 2, 0.929);
    font-weight: bold;
    font-family: 'Kosugi Maru', sans-serif;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    height: 50px;
    width: 500px;
}

#contact-info {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 225px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.social-media {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: px;
    height: 100px;
    width: 150px;
}

.contact:link,
.contact:visited {
    color: rgba(166, 2, 2, 0.929);
    text-decoration: none;
}

.contact:hover,
.contact:active {
    color: black;
    text-decoration: none;
    cursor: pointer;
}